<div xmlns:th="http//www.thymeleaf.org">

  <!-- html head element -->
  <head th:fragment="head(title)">
    <link rel="icon" th:href="@{/images/beers.ico}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/beers.css}">
  </head>

  <nav th:fragment="menu">
    <ul>
      <li><a th:href="@{/}">Welkom</a></li>
      <li><a th:href="@{/brouwers}">Brouwers</a></li>
<!--      <li><a th:href="@{/sausAlfabet}">Alfabet</a></li>-->

    </ul>
  </nav>


</div>